body {
    font-family: "Source Code Pro", Courier, monospace;
    margin: 0;
}

a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
}

a {
    border-bottom: 2px solid #31ffd5;
}

a:hover {
    background:#31ffd5;
}

.main-wrapper {
    width: 512px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
}

.main-header, .main-footer {
    text-align: left;
}

.main-header {
    margin-top: 0;
    margin-bottom: 2em;
}

.main-header h1 {
    margin: 0;
    background: #31ffd5;
    padding: 0.5em 1em;
}

/*
 * OPTIONS
 */

.simulator-options {
    top: 0;
    height: 19px;
    vertical-align: top;

    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    background-color: field;
    cursor: default;
    margin: 0em;
    white-space: pre;
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
}

option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
}

#simulator-steam-output-toggle {
    display: inline-block;
    position: relative;
    width: 100px;
    text-align: left;

    background-color: #66bb6b88;
    cursor: pointer;
    transition: background-color 0.3s;
}

#simulator-steam-output-toggle::before {
    content: "Steam ON";
    position: absolute;
    top: 1px;
    transition: transform 0.3s;
}

#simulator-steam-output-toggle.off {
    background-color: #F008;
}

#simulator-steam-output-toggle.off::before {
    content: "Steam OFF";
}

/*
 * REACTOR TILE UI
 */

.tile-canvas {
    position: absolute;
}

#tileUi {
    position: relative;
    width: 824px;
    height: 920px;
    margin: 5px 0;
}

#reactor {
    top: 0px;
    left: 0px;
}

#materials {
    top: 0px;
    left: 720px;
    background-color: #FFF;
}

#reactorStatistics {
    top: 720px;
    left: 0px;
    background-color: #000E;
    pointer-events: none;
}

#reactorTooltip {
    top: -2000px;
    left: -2000px;
    background-color: #000A;
    pointer-events: none;
    border: 1px solid purple;
}
