:root {
  --color-1: #caeaf5;
  --color-2: #00ff00;
  --color-3: #ffb400;
  --color-4: #e4007f;
  --color-5: #ff0000;
  --color-6: #1c1c1f;
  --color-7: #2c2c2f;
  --color-8: rgba(255, 255, 255, 0.02);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Source Code Pro", Courier, monospace;
  background-color: var(--color-7);
}

a {
  text-decoration: none;
  color: var(--color-3);
  transition: all 0.3s ease;
}

a:hover {
  color: var(--color-3);
}

a:visited {
  color: var(--color-3);
}

.text {
  color: var(--color-1);
}

.main-wrapper {
  margin: 0 auto;
}

.main-header,
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-header {
  margin: 0 0 1em 0;
  background-color: var(--color-6);
  border-bottom: 2px solid var(--color-8);
}

.main-header h1 {
  padding: 0.5em 1em;
  color: var(--color-1);
}

.main-footer {
  padding: 1em 0;
}

.params {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 8px 0;
}

/*
 * OPTIONS
 */

.simulator-options {
  font-family: "Source Code Pro", Courier, monospace;
  font-weight: 400;
  font-size: 15px;
  height: 28px;
  min-width: 100px;
  line-height: 28px;
  color: var(--color-1);
  background-color: var(--color-6);
  border: 2px solid var(--color-8);
  border-radius: 4px;
  padding: 0 4px;
  margin: 0 8px;
  outline: none;
  cursor: pointer;
}

#simulator-steam-output-toggle::before {
  content: "Steam ON";
  color: var(--color-2);
  transition: all 0.3s ease;
}

#simulator-steam-output-toggle.off::before {
  content: "Steam OFF";
  color: var(--color-5);
}

/*
 * REACTOR TILE UI
 */

.tile-canvas {
  position: absolute;
}

#tileUi {
  position: relative;
  width: 824px;
  height: 920px;
}

#reactor {
  top: 0;
  left: 0;
}

#materials {
  top: 0;
  right: 0;
}

#reactorStatistics {
  top: 720px;
  left: 0;
  pointer-events: none;
}

#reactorTooltip {
  top: -2000px;
  left: -2000px;
  pointer-events: none;
  background-color: var(--color-6);
  border: 2px solid var(--color-8);
  border-radius: 4px;
}
