body {
    font-family: "Source Code Pro", Courier, monospace;
    margin: 0;
}

.main-wrapper {
    width: 512px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
}

.main-header, .main-footer {
    text-align: left;
}

.main-header {
    margin-top: 0;
    margin-bottom: 2em;
}

.main-header h1 {
    margin: 0;
    background: #31ffd5;
    padding: 0.5em 1em;
}

#tileUi {
    position: relative;
}

.tile-canvas {
    position: absolute;
}

#reactor {
    top: 0px;
    left: 0px;
}

#materials {
    top: 0px;
    left: 720px;
    background-color: #FFF;
}

#reactorStatistics {
    top: 720px;
    left: 0px;
    background-color: #000E;
    pointer-events: none;
}

#reactorTooltip {
    top: -2000px;
    left: -2000px;
    background-color: #000A;
    pointer-events: none;
    border: 1px solid purple;
}
